
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body 
{

	background-color: #cccccc;
	width: 100%;
}

body, th, td, input, textarea {
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

form {
}

fieldset {
}

input, textarea {
	font-weight: bold;
}

input.text {
	padding: 2px 5px;
	background: #F8FAEB;
	border-top: 1px solid #4D5719;
	border-left: 1px solid #4D5719;
	border-right: 1px solid #626456;
	border-bottom: 1px solid #626456;
}

input.button {
	background: #3C7BCF;
	border-top: 1px solid #3C7BCF;
	border-left: 1px solid #3C7BCF;
	border-right: 1px solid #3C7BCF;
	border-bottom: 1px solid #3C7BCF;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin-top: 1.5em;
	color: #B10961;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -.05em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #B10961;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1.1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #75043D;
}

a:hover {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #B10961;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #B10961;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 900px;
	margin: 0 auto;
	background: url(images/img02.gif) no-repeat top left;

}

#menu {
	background: url(images/img01.jpg) repeat-x top left;
	height: 47px;
	width: 900px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	padding: 15px 30px 16px 30px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-left: #58032F 1px solid;
	color: #FFFFFF;
}

#menu a:hover {
	background: #770444;
	color: #FFFFFF;
}

#menu .current_page a {
	background: #770444;
	padding: 15px 30px 16px 30px;
	color: #FFFFFF;
}

#menu .last{
	border-right: #58032F 1px solid;
}

#search {
	float: right;
	width: 260px;
	margin: 0px;
	padding-top: 7px;
}

#search fieldset {
	border: none;
}

#search #s {
	width: 160px;
}

#search #x {
	width: 80px;
}

/* Logo */

#logo {
	width: 900px;
	height: 150px;
	margin: 0 auto;
	background-color: #000000;
	position: relative;
	
}

#logo img
{
	float: right;
	margin-right: 80px;
	margin-top: -85px;

}

#logo h1, #logo h2 {
	margin: 0 0 0 25px;
	padding: 0;
	text-transform: uppercase;
}

#logo h1 {
	padding: 20px 5px 0 0px;
	font-size: 48px;
	color: #61257f;
}

#logo h2 {
	padding: 0px 0 0 0px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #61257f;
}

#logo p {
	clear: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
	font-size: 1.2em;
	font-weight: bold;
	color: #61257f;
}

#logo a {
	color: #FFFFFF;
}
/* Intro */


#intro 
{
	width: 900px;
	height: 1000px;
	margin: 0 auto;
	padding-top: 30px;
	background: #1a1a1a;
	border-top: none;
	position: relative;
}

#intro a
{
	text-decoration: underline;
	color: #61257f;
}

#intro a:hover
{
	font-style: italic;
}

#intro a:visited
{
	font-style: italic;
}


#intro #cercle
{
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 60px; 
}

/* positionnement des th */
#intro #th1 /* milieu haut, 0min */
{
	position: absolute;
	top: 70px;
	left: 395px;
	width: 110px;
	height: 110px;
	background: url(images/th1.png) no-repeat top left;
}

#intro #th2 /* diagonal droite haut, 5min */
{
	position: absolute;
	top: 130px;
	right: 210px;
	width: 110px;
	height: 110px;
	background: url(images/th2.png) no-repeat top left;
}

#intro #th3 /* milieu droite 15min */
{
	position: absolute;
	top: 310px;
	right: 120px;
	width: 110px;
	height: 110px;
	background: url(images/th3.png) no-repeat top left;
}

#intro #th4 /* milieu droite 25min */
{
	position: absolute;
	top: 510px;
	right: 180px;
	width: 110px;
	height: 110px;
	background: url(images/th4.png) no-repeat top left;
}

#intro #th5 /* milieu bas, 30min */
{
	position: absolute;
	top: 610px;
	left: 395px;
	width: 110px;
	height: 110px;
	background: url(images/th5.png) no-repeat top left;
}

#intro #th6 /* diagonal gauche bas, 35min */
{
	position: absolute;
	top: 510px;
	left: 180px;
	width: 110px;
	height: 110px;
	background: url(images/th6.png) no-repeat top left;
}

#intro #th7 /* milieu gauche, 45min */
{
	position: absolute;
	top: 310px;
	left: 120px;
	width: 110px;
	height: 110px;
	background: url(images/th7.png) no-repeat top left;


}

#intro #th8 /*diagonal gauhe haut, 55min */
{
	position: absolute;
	top: 130px;
	left: 200px;
	width: 110px;
	height: 110px;
	background: url(images/th8.png) no-repeat top left;


}

/* zoom sur hover */
#intro #th1:hover
{
	background: url(images/th1H.png) no-repeat top left;
}
#intro #th2:hover
{
	background: url(images/th2H.png) no-repeat top left;
}
#intro #th3:hover
{
	background: url(images/th3H.png) no-repeat top left;
}
#intro #th4:hover
{
	background: url(images/th4H.png) no-repeat top left;
}
#intro #th5:hover
{
	background: url(images/th5H.png) no-repeat top left;
}
#intro #th6:hover
{
	background: url(images/th6H.png) no-repeat top left;
}
#intro #th7:hover
{
	background: url(images/th7H.png) no-repeat top left;
}
#intro #th8:hover
{
	background: url(images/th8H.png) no-repeat top left;
}

/* style des titres th*/
#intro .textth1
{
	display: block;
	margin-top: -135px;
	margin-left: -35px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 200px;
}
#intro .textth2
{
	display: block;
	margin-left: 120px;
	margin-top: -85px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 100px;	
}
#intro .textth3
{
	display: block;
	margin-left: 120px;
	margin-top: -75px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 100px;
}
#intro .textth4
{
	display: block;
	margin-left: 120px;
	margin-top: -100px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 100px;
}
#intro .textth5
{
	display: block;
	margin-top: 20px;
	margin-left: -40px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 250px;
}
#intro .textth6
{
	display: block;
	margin-left: -110px;
	margin-top: -60px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 200px;
}
#intro .textth7
{
	display: block;
	margin-left: -110px;
	margin-top: -85px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 200px;
}
#intro .textth8
{
	display: block;
	margin-left: -140px;
	margin-top: -90px;
	text-transform: uppercase;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
	color: #61257f;	
	width: 200px;

}

/* titre */
#intro #titre
{
	text-transform: capitalize;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 46px;
	color: #b10961;
	text-align: center;	
	position: absolute;
	top: 200px;
	left: 260px;
}

#intro  #titre #chakram
{
	font-family: Arial,Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 56px;
	color: #ffffff;
}


#intro #titre a
{
	text-decoration: none;
	color: #b10961;
}

#intro #titre a:hover
{
	text-decoration: underline;
	font-style: normal;
}


/* Page */

#page {
	width: 900px;
	height: 1050px;
	margin: 0 auto;
	padding-top: 30px;
	background: #1a1a1a;
	border-top: none;
}

/* Content */

#content {


}

.post {
	float: left;
	width: 65%;
	margin: 30px 0px 50px 40px;
	font-size: 15px;	
}

.post .icone
{
	float: left;
	margin-left: 50px;
}

.post .title {
	margin: 0;
	font-weight: normal;
}

.post h1.title {
	padding: 25px 0  0 15px;
	height: 40px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}


.post cite {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-style:italic;
    color:#b10961;
    text-align: justify;
}

.post table 
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 100%;
	font-size: 18px;

}

.post table th
{
	color: #61257f;
	font-size: 16px;
}

.post table td
{
	padding: 5px;
	font-size: 16px;
}

.symbole
{
	margin-top: 50px;
	float: right;
}
/* Recent Posts */

#recent-posts {
}

#recent-posts h2 {
	margin: 0;
	padding: 15px 0  0 0px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: #B10961;
}

#recent-posts h3 {
	margin: 0;
	padding: 15px 0  0 0px;
	font-size: 13px;
}

#recent-posts p {
	margin: 0 0 10px 0;
	padding: 15px 0  20px 0px;
	border-bottom: #E7E7E7 1px solid;
	line-height: 18px;
	font-size: 13px;
}

#recent-posts a {
	background: #BB096B;
	padding: 3px 15px 3px 10px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

#recent-posts h3 a {
}

/* Sidebars */

.menuTh {
	float: left;
	margin-top: 80px;
	border:2px solid;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;

}

.menuTh ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuTh li {
	margin-bottom: 2em;
}

.menuTh li ul {
}

.menuTh li li {
	margin: 0;
}

.menuTh li h2 {
	margin: 0 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #B10961;

	padding: 15px 0  0 0px;
	height: 30px;
}

.menuTh li h3 {
	margin: 0 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #B10961;

	padding: 15px 0  0 0px;
	font-size: 13px;
}
.menuTh h3 a {
	background: #BB096B;
	padding: 3px 15px 3px 10px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}

.menuTh h2 a:hover {
	background: #FFFFFF;
	color: #BB096B;
	font-style: italic;
}


.menuTh h3 a:hover {
	background: #FFFFFF;
	color: #BB096B;
}


.menuTh {
	width: 170px;
	padding: 0px 20px 0px 20px;
	background: #F2F2F2;
}
/* centre - adresse */
#adresse1
{
	float: left;
	margin-left: 50px;
	height: 450px;
	width: 370px;
	background: #ffffff;
}

#adresse2
{
	float: right;
	margin-right: 50px;
	height: 450px;
	width: 370px;
	background: #ffffff;

}

#sidebar2 {
	width: 180px;
	padding: 0px 20px 0px 20px;
}

#sidebar2 li h2 {
	margin: 0 0 1em 0;
	padding: 15px 0  0 0px;
	height: 20px;
}

#sidebar2 li ul {
	line-height: normal;
}

#sidebar2 li li {
	padding: 5px;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#sidebar2 li a {
	background: url(images/img04.gif) no-repeat left 50%;
	border: none;
	padding-left: 10px;
	text-transform: uppercase;
}

#sidebar2 li a:hover {
	border: none;
	padding-left: 10px;
}

/* Calendar */

#calendar {
	margin: 0 auto;
}

#calendar caption {
	font-weight: bold;
}

#calendar table {
	width: 220px;
	text-align: center;
	border-collapse: collapse;
}

#calendar thead th {
	background: #CCCCCC;
	color: #FFFFFF;
}

#calendar tbody td {
	background: #EEEEEE;
}

#calendar #today {
	background: #B8D03B;
	font-weight: bold;
	color: #FFFFFF;
}

#calendar a {
	font-weight: bold;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

/* desc */

#desc
{	float: left;
	margin: 80px 60px ;
	color: #ffffff;
}
/* Footer */

#footer {
	margin: auto;
	background: #000000;
	height: 120px;
	padding-top: 20px;
}

#footer p {
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	background: #BB096B;
	padding: 2px 7px;
	color: #FFFFFF;
}
